.Home {
  display: flex;
  flex-direction: column;
}

.Home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  height: 5%;
  border-bottom: #d0d0d0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.Home-header-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  width: 40vw;
}
.Home-header-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
}
.Home-header-end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

.Home-logo {
  display: flex;
  margin: 20px;
  justify-content: flex-start;
  align-items: center;
}

.Home-logo-image {
  width: 30px;
  height: 30px;
}

.Home-logo-text {
  font-size: 30px;
  font-weight: 200;
  margin-left: 10px;
}

.Home-header-button {
  width: 10vh;
  font-size: 25px;
  font-weight: 200;
}

.Home-login-button-image{
  width: 30px;
  height: 30px;
}

.Home-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Home-body-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

.beige {
  background-color: #fff8ec;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
  color: white;
}


.Home-body-image {
  height: 80%;
  object-fit: cover;
}
